
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "JetBrains Mono", monospace;
    color: white;
    background-color: black;
}

.section1 {
    background-color: black;
}

.section2 {
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: auto;
    border-bottom: 1px solid #BEBEBE;
}

.logo img {
    max-height: 80px;
}

.hamburger-menu {
    display: block;
    font-size: 24px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.nav-links {
    display: none;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    z-index: 1;
    transition: transform 0.3s ease;
    transform: translateY(-100%);
}

.overlay.open {
    transform: translateY(0);
}

.overlay a {
    color: white;
    text-decoration: none;
    margin: 20px 0;
    font-size: 24px;
}

.black-background1 {
    color: white;
    padding: 20px;
    text-align: center;
}

.big_title, .big_title2, .white_big_title, .white_big_title2 {
    font-size: 28px;
    margin: 20px 0; /* Added space above and below titles */
}

.under_title {
    font-size: 18px;
    margin-top: 10px;
}

.button, .button1, .instagram-button {
    background-color: #708090;
    color: white;
    border: 2px solid #708090;
    padding: 8px 16px; /* Ensuring consistent padding for all buttons */
    text-align: center;
    font-size: 16px; /* Ensuring consistent font size for all buttons */
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto; /* Center-align buttons and add spacing */
    display: block;
    text-decoration: none; /* Remove underline */
    width: fit-content; /* Make the button size consistent and centered */
}

.black-background1 .buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.white-background1, .white-background2 {
    color: black;
    padding: 20px;
    text-align: center;
}

.big_title2 {
    display: block;
    margin: 20px auto; /* Center-align title with spacing */
    text-align: center;
}

.2d_collage {
    margin-top: 20px;
}

.content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map {
    width: 100%;
    margin: 20px 0;
}

.phone_numbers_and_address {
    margin-top: 20px;
}

.site-footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    color: #333;
}

.footer-line {
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.footer-content p {
    font-size: 12px;
}

@media (max-width: 768px) {
    .collage-img, .profile-img {
        width: 100%;
        height: auto;
    }
}
